extends layout

block content
  main
    .container
      label Search: 
      input.search(type='text')
      table
        for category in categories
          tr
            td
              h3= category.name
            td
            td
          for bookmark in category.bookmarks
            tr
              td=bookmark.name
              td=bookmark.url
              td=typeof bookmark.userId
        
