extends layout

block content
  main
    .container
      label Search: 
      input.search(type='text')
      for category in categories
        h3= category.name
        for bookmark in category.bookmarks
          .row
            .col
              a(href=bookmark.url) !{bookmark.name}
            .col
              !{bookmark.user[0].name}
  img.imageRight(src='/images/princess.png')  
