doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    header
      .container
        .header
          a.title.left(href='/') bookmarks
          .nav
            if userId
              a.right(href='/logout') logout
              a.right(href='/users/'+ userId) my favs 
              a.right(href='/users/'+ userId + '/bookmarks') my bookmarks 
            else
              a.right(href='/login') login
              a.right(href='/signup') signup
      .subbanner
    block content
    footer
      .container
  script(src="/javascripts/client.js")
