doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        .header
          a.title.left(href='/') bookmarks
          .nav
            if userId
              a.right(href='/users/'+ userId + '/bookmarks') my bookmarks 
              a.right(href='/logout') logout
            else
              a.right(href='/signup') signup
              a.right(href='/login') login
      .subbanner
    block content
    footer
      .container
