extends layout

block content
  main
    .container
      h2 Login
      .login
        .errors
          if errors
            for error in errors
              p=error
        form(action='/login' method='post')
          label(for='name') Name: 
          input(type='text' name='name' id='name')
          label(for='password') Password: 
          input(type='password' name='password' id='password')
          input.show(type='submit' value='login')
  img.image(src='/images/monty.png')  
