extends layout

block content
  main
    .container
      h2 Signup
      .signup
        .errors
          if flash
              p=flash
        form#submit(action='/signup' method='post')
          label(for='name') Name: 
          input(type='text' name='name' id='name')
          label(for='password') Password: 
          input(type='password' name='password' id='password')
          label(for='confirmation') Confirm Password: 
          input(type='password' name='confirmation' id='confirmation')
          input.show(type='submit' value='signup')
          .match
  img.image(src='/images/monty.png')  
