/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Biryani:400,700);
@import url(https://fonts.googleapis.com/css?family=Chivo);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: Biryani, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #555; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Chivo, serif;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

table {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3%; }
  table thead tr {
    background: #EC368D;
    font-size: 110%;
    height: 30px;
    color: #f0e6ef; }
  table tbody tr {
    height: 20px;
    text-align: center; }
  table td:nth-child(2) {
    width: 400px; }
  table td {
    padding-top: .4%; }
  table tr:nth-child(2n+2) {
    background: #FFD6C0; }

input[type=text], input[type=email], input[type=url], input[type=password] {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  width: 30%;
  padding: .2%;
  transition: all 300ms ease;
  background: none; }

input[type='text']:focus, input[type=url]:focus, input[type=email]:focus, input[type=password]:focus {
  border: 3px solid #666;
  box-shadow: 6px 6px 0px #440381; }

label {
  margin: 1%; }

textarea {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  width: 97%;
  height: 300px;
  background: none;
  padding: 1%;
  box-sizing: border-box; }

textarea:focus {
  border: 3px solid #666;
  box-shadow: 6px 6px 0px #440381;
  transition: all 300ms ease; }

select {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  height: auto;
  width: 30%; }

select:focus {
  border: 3px solid #666;
  box-shadow: 6px 6px 0px #440381; }

input[type="radio"], input[type="checkbox"] {
  display: none; }

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-color: #666; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #666; }

input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span {
  transition: background-color 0.1s linear;
  background-color: #EC368D; }

select {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  padding: 1%;
  width: 30%;
  background: transparent;
  font-size: 16px;
  line-height: 1; }

input[type='submit'], input[type=button], button, a.button {
  min-width: 16%;
  height: 40px;
  border: 3px solid rgba(102, 102, 102, 0.3);
  color: white;
  margin: 1%;
  display: inline-block;
  padding-top: 1%; }

input[type='submit'].del {
  width: 100%;
  height: 100%;
  margin: 0; }

.form {
  width: 100%; }

.submit {
  background: rgba(68, 3, 129, 0.7); }

.edit {
  background: rgba(255, 214, 192, 0.7); }

.delete {
  color: white;
  background: rgba(232, 116, 97, 0.7); }

.show {
  color: white;
  background: rgba(81, 229, 255, 0.7); }

input[type='submit']:hover, input[type='button']:hover, button:hover, a.button {
  color: white;
  border: 3px solid rgba(102, 102, 102, 0.8); }

.submit:hover {
  background: #440381; }

.edit:hover {
  background: #FFD6C0; }

.delete:hover {
  background: #e87461; }

.show:hover {
  background: #51E5FF; }

input[type='submit']:active, input[type='button']:active, button:active, a.button {
  color: gray;
  border: 3px solid #666; }

a:link {
  color: #EC368D;
  text-decoration: none; }

a:visited {
  color: #EC368D; }

a:hover {
  color: #FFA5A5; }

a.button {
  width: 100px;
  height: 30px;
  text-decoration: none;
  color: white;
  border: 3px solid rgba(102, 102, 102, 0.3);
  color: white;
  margin: 1%;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

a.nav {
  color: white;
  text-decoration: none;
  background: none;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block; }

.header .nav a:hover {
  color: #440381; }

.name {
  font-size: 120%;
  display: inline-block;
  float: right;
  margin-right: 1%;
  margin-top: .5%; }

form.fit {
  display: inline-block;
  width: 100px;
  height: 36px;
  margin: 1%;
  color: white;
  text-align: center;
  vertical-align: middle; }

body {
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100%; }

main {
  max-width: 960px;
  width: 90%;
  margin: 0 auto; }

main.index {
  padding-top: 30px; }

.intro {
  width: 100%;
  background: rgba(105, 161, 151, 0.9);
  color: #f0e6ef;
  box-sizing: border-box;
  padding: 3%;
  padding-top: 5%; }
  .intro .row {
    margin-left: 20%; }

.banner {
  width: 100%;
  height: 300px;
  background: rgba(236, 54, 141, 0.9);
  color: white;
  padding-top: 1%;
  box-sizing: border-box; }

.banner h1 {
  padding-left: 1%; }

.subbanner {
  width: 100%;
  height: 10px;
  background: #440381; }

.header {
  width: 100%;
  height: 50px;
  background: #FFA5A5;
  color: white;
  padding-top: 1%;
  box-sizing: border-box; }
  .header a, .header a:visited, .header a:link {
    color: white; }

.subbanner {
  margin-bottom: 1%;
  width: 100%;
  height: 5px;
  box-shadow: 0 1px 0 0 lightgray;
  background: #EC368D; }

.container {
  width: 960px;
  margin: 0 auto; }

header {
  background: #FFA5A5; }

.right {
  float: right; }

.left {
  float: left; }

.col {
  margin-left: 1%;
  padding-top: 2%;
  display: inline-block; }

.title {
  font-family: Lobster Two;
  font-size: 150%;
  width: 100%;
  padding-left: 1%; }

ul {
  list-style: inside circle; }

ol {
  list-style: inside decimal; }

.login {
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgba(102, 102, 102, 0.3);
  border-radius: 25px;
  padding: 2%; }
  .login input {
    width: 80%;
    display: block; }
  .login label {
    width: 40%; }
  .login label input, .login p {
    display: inline-block; }
  .login input[type='submit'] {
    width: 23%;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 15px; }
  .login a.button {
    margin-left: 29%;
    display: inline-block; }
  .login h4 {
    width: 20%;
    margin: 0 auto; }
  .login .github {
    border-top: 1px dashed #666;
    padding-top: 5px;
    width: 80%;
    margin: 0 auto; }
  .login .email {
    width: 90%;
    margin: 0 auto; }
  .login .text {
    display: inline-block; }
  .login img {
    margin-right: 30px; }

.signup, .editProfile {
  width: 50%;
  margin: 0 auto;
  border: 3px solid rgba(102, 102, 102, 0.3);
  border-radius: 25px;
  padding: 2%;
  padding-left: 5%; }
  .signup .col1, .signup .col2, .editProfile .col1, .editProfile .col2 {
    width: 50%;
    display: inline-block;
    margin: 0 auto; }
  .signup input, .editProfile input {
    width: 80%;
    display: block; }
  .signup .show, .editProfile .show {
    width: 20%; }
  .signup input[type='submit'].delete, .editProfile input[type='submit'].delete {
    width: 20%;
    margin-left: 65%; }

.editProfile {
  padding-right: 0; }

.categories {
  padding: 1%;
  border: 3px solid rgba(102, 102, 102, 0.3);
  border-radius: 25px; }

.category {
  padding: 1%;
  border: 3px solid rgba(102, 102, 102, 0.3);
  border-radius: 25px;
  display: inline-block;
  margin: .3%; }

.category:hover {
  background: #FFD6C0;
  cursor: pointer; }

.selected {
  background: #FFD6C0; }

.image {
  position: absolute;
  left: 2%;
  top: 70%;
  height: 100px;
  width: auto;
  z-index: -1; }

.imageRight {
  position: absolute;
  right: 2%;
  top: 70%;
  height: 100px;
  width: auto;
  z-index: -1; }
