extends ../layout

block content
  main
    .container
      form#bookmarkForm(action='/users/' + userId + '/bookmarks/' + bookmark._id + '/edit' method='post')
        label(for='name') Name: 
        input(type='text' name='name' id='name' value=(bookmark.name ? bookmark.name : undefined))
        p 
          label(for='bookmark') Bookmark: 
          input(type='url' name='url' id='bookmark' value=(bookmark.url ? bookmark.url : undefined))
        label(for='description') Description: 
        textarea(name='description' id='description')
          if bookmark.description
           !{bookmark.description}
        p Add categories: 
        .categories
          for category in categories
            div(class=(bookmark.categories.indexOf(category) > -1 ? 'selected' : undefined)).category !{category} 
        input#categories(type='hidden' name='categories' value=bookmark.categories)
        .errors
        input#submit.show(type='submit' value='submit changes')
      a.button.submit(href='/users/'+ userId + '/bookmarks/' + bookmark._id) cancel
      a.button.delete.delete-bookmark(href='/users/'+ userId + '/bookmarks/' + bookmark._id + '/delete') delete
  img.image(src='/images/candy.png')  
