extends ../layout

block content
  main
    .container
      h2 My bookmarks
      if bookmarks
        for bookmark in bookmarks
          p
            a(href='/users/'+cookieId+'/bookmarks/'+ bookmark._id) !{bookmark.name}
      if cookieId
        a.button.show(href='/users/'+ cookieId + '/bookmarks/new') New
  img.image(src='/images/gum.png')  
