extends ../layout

block content
  main
    .container
      h2 My bookmarks
      if bookmarks
        for bookmark in bookmarks
          p
            a(href='/users/'+userId+'/bookmarks/'+ bookmark._id) !{bookmark.name}
      a.button.show(href='/users/'+ userId + '/bookmarks/new') New
      a.button.submit(href='/users/'+ userId) back
