extends ../layout

block content
  main
    .container
      form(action='/users/' + userId + '/bookmarks/new' method='post')
        label(for='name') Name: 
        input(type='text' name='name' id='name')
        p
          label(for='bookmark') Bookmark: 
          input(type='url' name='url' id='bookmark')
        label(for='description') Description: 
        textarea(name='description' id='description')
        p Add categories: 
        .categories
          for category in categories
            .category !{category}  
        input#categories(type='hidden' name='categories')
        input#submit.show(type='submit' value='Create bookmark!')
      a.button.submit(href='/users/'+ userId + '/bookmarks') back
  img.imageRight(src='/images/102.png')  
