extends ../layout

block content
  main
    .container
      form(action='/users/' + userId + '/bookmarks/new' method='post')
        label(for='name') Name: 
        input(type='text' name='name' id='name')
        label(for='bookmark') Bookmark: 
        input(type='url' name='url' id='bookmark')
        label(for='description') Description: 
        textarea(name='description' id='description')
        label(for='type') Type: 
        select(name='type')
          option(value='website') website
          option(value='video') video
          option(value='repo') github repo
        input.show(type='submit' value='Bookmark!')
      a.button.submit(href='/users/'+ userId + '/bookmarks') back
    
