extends ../layout

block content
  main
    .container
      form(action='/users/' + userId + '/bookmarks/new' method='post')
        label(for='name') Name: 
        input(type='text' name='name' id='name')
        p
          label(for='bookmark') Bookmark: 
          input(type='url' name='url' id='bookmark')
        label(for='description') Description: 
        textarea(name='description' id='description')
        label(for='type') Type: 
        select(name='type')
          option(value='website') website
          option(value='video') video
          option(value='repo') github repo
        p Add categories: 
        .categories
          .category javascript 
          .category colors
          .category html
          .category mongo
        input#categories(type='hidden' name='categories')
        input#submit.show(type='submit' value='Create bookmark!')
      a.button.submit(href='/users/'+ userId + '/bookmarks') back
    
