extends ../layout

block content
  main
    .container
      if bookmark
        p= bookmark.name
        p= bookmark.url
        p= bookmark.description
        p= bookmark.type
      a(href='/users/'+ userId + '/bookmarks/' + bookmark._id + '/edit') edit
      a(href='/users/'+ userId + '/bookmarks') back
