extends ../layout

block content
  main
    .container
      if bookmark
        if cookieId
          .favorite
            input#favorite(type='checkbox' checked=(favorite ? true : undefined))
            label(for='favorite')
              span
              |favorite!
        p name: !{bookmark.name}
        p link: 
          a(href=bookmark.url) !{bookmark.url}
        p description: 
          for paragraph in bookmark.description.split('\n')
            p= paragraph
      if cookieId === bookmark.userId
        a.button.edit(href='/users/'+ cookieId + '/bookmarks/' + bookmark._id + '/edit') edit
        a.button.submit(href='/users/'+ cookieId + '/bookmarks') back
      else
        a.button.submit(href='/categories/') back
  img.imageRight(src='/images/chet.png')  
