extends ../layout

block content
  main
    .container
      h2 Categories
      .categories
        for category in categories
          #browseCat
            a.category(href=('/categories/' +  category._id)) 
              !{category.name}
  img.imageRight(src='/images/candy.png')  
