extends ../layout

block content
  main
    .container
      h2 My favorites
      for bookmark in bookmarks
        p
          a(href='/users/'+userId+'/bookmarks/'+ bookmark._id) !{bookmark.name}
      a.button.show(href='/users/'+ userId + '/bookmarks/new') New
  img.imageRight(src='/images/102.png')  
